/* Estilos generales */
body {
    background-color: #ecc7bc; /* Cambia el color de fondo de la p치gina */
    margin: 20; /* Elimina los m치rgenes predeterminados del cuerpo */
    padding: 20; /* Elimina el relleno predeterminado del cuerpo */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el encabezado */

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
}

/* Estilos para la barra de navegaci칩n */

nav {
    background-color: #6f5536;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #488fa7;
    font-weight: bold;
}

nav ul li a:hover {
    color: #482b44;
}

/* Estilos para los p치rrafos de texto */

p {
    line-height: 1.5;
}

/* Estilos para la imagen */

img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 20px auto;
}
